<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <div class="mb-2">
              <a routerLink="/">
                <svg [cIcon]="icons.cilHome" title="Home"></svg>
              </a>
            </div>
            <form cForm (ngSubmit)="submit()" [formGroup]="form" novalidate>
              <h1>{{ `forgot-password.title` | translate }}</h1>
              <p class="text-body-secondary">{{ `forgot-password.caption` | translate }}</p>

              <!-- RESULT -->
              <c-alert *ngIf="result" [color]="getColor(result.status())">{{ result.message }}</c-alert>

              <!-- EMAIL/MOBILE -->
              <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['emailMobile'] as ctrl">
                <span cInputGroupText>
                  <span>&#64;</span>
                  <span style="display: none;">&nbsp;|&nbsp;</span>
                  <svg [cIcon]="icons.cilPhone" style="display: none;"></svg>
                </span>
                <input formControlName="emailMobile" cFormControl
                  [placeholder]='"forgot-password.labels.email-mobile-holder" | translate'
                  [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  autoComplete="email" />

                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      {{ "global.validations.required" | translate : ["forgot-password.labels.email-mobile"] }}
                    </div>
                    <div *ngIf="!errors['required']">
                      {{ "global.validations.invalid" | translate : ["forgot-password.labels.email-mobile"] }}
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-input-group>

              <!-- BUTTONS -->
              <div class="d-grid">
                <button cButton color="primary" type="submit">
                  {{ "forgot-password.labels.submit" | translate }}
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>