<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <div class="mb-2" *ngIf="mode === forgotten">
                            <a routerLink="/">
                                <svg [cIcon]="icons.cilHome" title="Home"></svg>
                            </a>
                        </div>
                        <div class="mb-2" *ngIf="mode !== forgotten">
                            <a routerLink="/dashboard">
                                <svg [cIcon]="icons.cilHome" title="Home"></svg>
                            </a>
                        </div>
                        <form cForm (ngSubmit)="submit()" [formGroup]="form" novalidate>
                            <h1>{{ `change-password.${mode}.title` | translate }}</h1>
                            <p class="text-body-secondary">{{ `change-password.labels.caption` | translate }}</p>

                            <!-- TOKEN -->
                            <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['token'] as ctrl">
                                <span cInputGroupText>
                                    <svg [cIcon]="icons.cilLockLocked"></svg>
                                </span>
                                <input formControlName="token" cFormControl
                                    [placeholder]='"change-password.labels.token-holder" | translate'
                                    [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                                    type="password" autoComplete="old-password"
                                    [maxlength]="ValidatorValues.password.maxLengh" />

                                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid"
                                    [valid]="!(submitted || ctrl.invalid)">
                                    <ng-container *ngIf="ctrl.errors as errors">
                                        <div *ngIf="errors['required']">
                                            {{ "global.validations.required" | translate :
                                            ["change-password.labels.token"] }}
                                        </div>
                                        <div *ngIf="errors['maxlengh'] || errors['minlength']">
                                            {{ "global.validations.length" | translate : [
                                            "change-password.labels.token",
                                            ValidatorValues.password.minLength.toString(),
                                            ValidatorValues.password.maxLengh.toString()] }}
                                        </div>
                                        <div *ngIf="!errors['required'] && !errors['maxlengh'] && !errors['minlength']">
                                            {{ "global.validations.invalid" | translate :
                                            ["change-password.labels.token"] }}
                                        </div>
                                    </ng-container>
                                </c-form-feedback>
                            </c-input-group>

                            <!-- PASSWORD -->
                            <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['password'] as ctrl">
                                <span cInputGroupText>
                                    <svg [cIcon]="icons.cilLockLocked"></svg>
                                </span>
                                <input formControlName="password" cFormControl
                                    [placeholder]='"change-password.labels.password-holder" | translate'
                                    [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                                    type="password" autoComplete="new-password"
                                    [maxlength]="ValidatorValues.password.maxLengh" />

                                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid"
                                    [valid]="!(submitted || ctrl.invalid)">
                                    <ng-container *ngIf="ctrl.errors as errors">
                                        <div *ngIf="errors['required']">
                                            {{ "global.validations.required" | translate :
                                            ["change-password.labels.password"] }}
                                        </div>
                                        <div *ngIf="errors['maxlengh'] || errors['minlength']">
                                            {{ "global.validations.length" | translate : [
                                            "change-password.labels.password",
                                            ValidatorValues.password.minLength.toString(),
                                            ValidatorValues.password.maxLengh.toString()] }}
                                        </div>
                                        <div *ngIf="errors['pattern']">
                                            {{ "change-password.messages.password-requirement" | translate }}
                                        </div>
                                        <div *ngIf="!errors['required'] && !errors['maxlengh'] && !errors['minlength']">
                                            {{ "global.validations.invalid" | translate :
                                            ["change-password.labels.password"] }}
                                        </div>
                                    </ng-container>
                                </c-form-feedback>
                            </c-input-group>

                            <!-- CONFIRM PASSWORD -->
                            <c-input-group class="mb-4 ltr has-validation"
                                *ngIf="form.controls['confirmPassword'] as ctrl">
                                <span cInputGroupText>
                                    <svg [cIcon]="icons.cilLockLocked"></svg>
                                </span>
                                <input formControlName="confirmPassword" cFormControl type="password"
                                    [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                                    [placeholder]='"change-password.labels.confirm-password-holder" | translate'
                                    autoComplete="new-password" />

                                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid"
                                    [valid]="!(submitted || ctrl.invalid)">
                                    <ng-container *ngIf="ctrl.errors as errors">
                                        <div *ngIf="errors['passwordMismatch']">
                                            {{ "change-password.messages.password-mismatch" | translate }}
                                        </div>
                                    </ng-container>
                                </c-form-feedback>
                            </c-input-group>

                            <!-- BUTTONS -->
                            <div class="d-grid">
                                <button cButton color="primary" type="submit">
                                    {{ "change-password.labels.submit" | translate }}
                                </button>
                            </div>
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>