<c-modal #userSelectorModal [scrollable]="true" [(visible)]="visible" alignment="center" [id]="id">
    <c-modal-header>
        <h5 cModalTitle>{{ 'global.header.user-selector.title' | translate }}</h5>
        <button [cModalToggle]="userSelectorModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <input cFormControl #searchInput [placeholder]='"global.header.user-selector.search" | translate' (keyup)="search()" />
        <div cListGroup class="mt-3">
            @for (username of usernameList; track username;) {
            <button cListGroupItem (click)="setTargetIndex(username)" [active]="targetName === username">
                <svg [cIcon]="icons.cilUser" class="me-2"></svg>
                {{ username }} ({{ current_user?.targetArea?.[username]?.fullname }})
            </button>
            }
        </div>
    </c-modal-body>
</c-modal>
