<c-row class="g-4 justify-content-lg-center">
    <c-col xl="8">
        <c-card class="mb-auto whatsapp-panel" [cBorder]="{top: {color: color, width: 3}}">
            <c-card-header>
                <h5>{{ 'rnewal.title' | translate }}</h5>
            </c-card-header>
            <c-card-body class="d-flex" *ngIf="hasSubUsers">
                <div class="w-100 mx-5">
                    <label>{{ 'rnewal.labels.current-user' | translate }}:</label>
                    <h5 class="ltr">{{ targetName }}</h5>
                </div>
            </c-card-body>
            <c-card-body class="d-flex">
                <div class="w-50">
                    <div class="m-auto p-3 px-5">
                        <label>{{ 'rnewal.labels.monthly.title' | translate }}</label>
                        <select class="bg-info" cSelect [(ngModel)]="selectedMonthly" (change)="setMonthly()">
                            <option [value]="0">
                                {{ 'rnewal.labels.monthly.choise' | translate }}
                            </option>
                            @for (month of monthlyChoises; track month; let i = $index) {
                            <option [value]="month">
                                {{ month }} {{ monthlyUnit }}
                            </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="w-50">
                    <div class="m-auto p-3 px-5">
                        <label>{{ 'rnewal.labels.traffic.title' | translate }}</label>
                        <select class="bg-warning" cSelect [(ngModel)]="selectedTraffic" (change)="setTraffic()">
                            <option [value]="0">
                                {{ 'rnewal.labels.traffic.choise' | translate }}
                            </option>
                            @for (traffic of trafficChoises; track traffic; let i = $index) {
                            <option [value]="traffic" class="ltr-end">
                                {{ traffic }} {{ trafficUnit }}
                            </option>
                            }
                        </select>
                    </div>
                </div>
            </c-card-body>
            <c-card-body class="d-flex">
                <div class="w-100 mx-5">
                    <label>{{ 'rnewal.labels.simultaneousUsers.title' | translate }}</label>
                    <select cSelect [(ngModel)]="selectedUserCount" (change)="setUserCount()">
                        <option [value]="0">
                            {{ 'rnewal.labels.simultaneousUsers.choise' | translate }}
                        </option>
                        @for (count of maxUserCounts; track count; let i = $index) {
                        <option [value]="count" class="ltr-end">
                            {{ count }}
                        </option>
                        }
                    </select>
                </div>
            </c-card-body>
            <c-card-footer class="d-flex">
                <div class="me-auto">
                    {{ 'rnewal.labels.cost-caption' | translate : [cost] }}
                </div>
                <button cButton class="px-4" [color]="color" [disabled]="color === 'secondary'" type="button"
                    (click)="submit()">
                    {{ "rnewal.labels.submit" | translate }}
                </button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="mt-4 g-4 justify-content-lg-center">
    <c-col xl="8">
        <c-card class="mb-auto whatsapp-panel">
            <c-card-header>
                <h5>{{ 'rnewal.price.title' | translate }}</h5>
            </c-card-header>
            <c-card-body class="d-flex" *ngIf="prices">
                @for (price of prices; track price; let index = $index) {
                <div class="w-50" [ngClass]="index !== 0 ? [ 'price' ] : []">
                    <div class="m-auto p-3 px-5">
                        <h3>{{ price.title }}</h3>
                        <p>{{ price.caption }}</p>
                        <ul>
                            @for (line of price.description; track line) {
                            <li>{{ line }}</li>
                            }
                        </ul>
                    </div>
                </div>
                }
            </c-card-body>
            <c-card-body class="d-flex" *ngIf="!prices">
                <div class="w-50">
                    <div class="m-auto p-3 px-5" cPlaceholderAnimation="glow">
                        <p><span cPlaceholder class="w-100"></span></p>
                        <p><span cPlaceholder class="w-100"></span></p>
                        <ul>
                            <li><span cPlaceholder class="w-100"></span></li>
                            <li><span cPlaceholder class="w-100"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="w-50 price">
                    <div class="m-auto p-3 px-5" cPlaceholderAnimation="glow">
                        <p><span cPlaceholder class="w-100"></span></p>
                        <p><span cPlaceholder class="w-100"></span></p>
                        <ul>
                            <li><span cPlaceholder class="w-100"></span></li>
                            <li><span cPlaceholder class="w-100"></span></li>
                        </ul>
                    </div>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>