c-card-header > h3 {
  white-space: nowrap;
}

.filter {
  text-align: left;
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

td.col-value {
  font-family: Parastoo;
}

.pointer {
  cursor: pointer;
}
