<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <div class="mb-2">
              <a routerLink="/">
                <svg [cIcon]="icons.cilHome" title="Home"></svg>
              </a>
            </div>
            <form cForm (ngSubmit)="submit()" [formGroup]="form" novalidate>
              <h1>{{ "register.title" | translate }}</h1>
              <p class="text-body-secondary">{{ "register.caption" | translate }}</p>
              <c-input-group class="mb-3 ltr-content" *ngIf="form.controls['firstname'] as ctrl">
                <input formControlName="username" cFormControl [placeholder]='"register.labels.username" | translate'
                  [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  autoComplete="name" />
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilUser"></svg>
                </span>
                <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  {{ "global.validations.required" | translate : ["register.labels.username"] }}
                </c-form-feedback>
                <div class="ltr" style="position: relative; color: red;">
                  submitted: {{ submitted }}<br/>
                  ctrl.touched: {{ ctrl.touched }}<br/>
                  ctrl.valid: {{ ctrl.valid }}<br/>
                  ctrl.invalid: {{ ctrl.invalid }}<br/>
                  valid: {{ ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined }}<br/>
                  errors['required']: {{ ctrl.errors?.['required'] }}<br/>
                </div>
              </c-input-group>
              <c-input-group class="mb-3 ltr-content" *ngIf="form.controls['email'] as ctrl">
                <input formControlName="email" cFormControl [placeholder]='"register.labels.email" | translate'
                [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  autoComplete="email" />
                <span cInputGroupText>&#64;</span>
                <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  {{ "global.validations.required" | translate : ["register.labels.email"] }}
                </c-form-feedback>
                <div class="ltr" style="position: relative; color: red;">
                  submitted: {{ submitted }}<br/>
                  ctrl.touched: {{ ctrl.touched }}<br/>
                  ctrl.valid: {{ ctrl.valid }}<br/>
                  ctrl.invalid: {{ ctrl.invalid }}<br/>
                  valid: {{ ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined }}<br/>
                  errors['required']: {{ ctrl.errors?.['required'] }}<br/>
                </div>
              </c-input-group>
              <c-input-group class="mb-3 ltr-content">
                <input formControlName="mobile" cFormControl [placeholder]='"register.labels.mobile" | translate'
                  autoComplete="mobile-phone" />
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilPhone"></svg>
                </span>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilUser"></svg>
                </span>
                <input formControlName="firstname" cFormControl [placeholder]='"register.labels.first-name" | translate'
                  autoComplete="first-name" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilUser"></svg>
                </span>
                <input formControlName="lastname" cFormControl [placeholder]='"register.labels.last-name" | translate'
                  autoComplete="last-name" />
              </c-input-group>
              <c-input-group class="mb-3 ltr-content">
                <input formControlName="password" cFormControl [placeholder]='"register.labels.password" | translate'
                  type="password" autoComplete="new-password" />
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilLockLocked"></svg>
                </span>
                <c-form-feedback [valid]="false">
                  {{ "global.validations.required" | translate : ["register.labels.password"] }}
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-4 ltr-content">
                <input formControlName="confirmPassword" cFormControl type="password"
                  [placeholder]='"register.labels.repeat-password" | translate' autoComplete="new-password" />
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilLockLocked"></svg>
                </span>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="primary" type="submit">
                  {{ "register.labels.create-account" | translate }}
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col [md]="6" class="ltr">
        <c-card [ngClass]="{ 'bg-info': form.valid, 'bg-dark': form.invalid}">
          <c-card-body class="text-white">
            <pre>Value: <code>{{ form.value | json }}</code></pre>
            <ul>
              <li>Status: {{ form.status }}</li>
              <li>Valid: {{ form.valid }}</li>
              <li>Pristine: {{ form.pristine }}</li>
              <li>Errors: {{ form.errors | json }}</li>
            </ul>
            <ul>
              @for (ctrl of formControls; track ctrl) {
                <li>
                  {{ ctrl }}
                  <ul>
                    <li>Invalid: {{ form.controls[ctrl].invalid | json }}</li>
                    <li>Pristine: {{ form.controls[ctrl].pristine | json }}</li>
                    <li>Status: {{ form.controls[ctrl].status | json }}</li>
                    <li>Touched: {{ form.controls[ctrl].touched | json }}</li>
                    <li>Errors: {{ form.controls[ctrl].errors | json }}</li>
                  </ul>
                </li>
              }
            </ul>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>