<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <div class="mb-2">
              <a routerLink="/">
                <svg [cIcon]="icons.cilHome" title="Home"></svg>
              </a>
            </div>
            <form cForm (ngSubmit)="submit()" [formGroup]="form" novalidate>
              <h1>{{ "register.title" | translate }}</h1>
              <p class="text-body-secondary">{{ "register.caption" | translate }}</p>

              <!-- USERNAME -->
              <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['username'] as ctrl">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilUser"></svg>
                </span>
                <input formControlName="username" cFormControl
                  [placeholder]='"register.labels.username-holder" | translate'
                  [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  autoComplete="name" [maxlength]="validatorValues.username.maxLengh" />

                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      {{ "global.validations.required" | translate : ["register.labels.username"] }}
                    </div>
                    <div *ngIf="errors['maxlengh'] || errors['minlength']">
                      {{ "global.validations.length" | translate : [
                      "register.labels.username",
                      validatorValues.username.minLength.toString(),
                      validatorValues.username.maxLengh.toString()] }}
                    </div>
                    <div *ngIf="!errors['required'] && !errors['maxlengh'] && !errors['minlength']">
                      {{ "global.validations.invalid" | translate : ["register.labels.username"] }}
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-input-group>

              <!-- EMAIL -->
              <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['email'] as ctrl">
                <span cInputGroupText>&#64;</span>
                <input formControlName="email" cFormControl [placeholder]='"register.labels.email-holder" | translate'
                  [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  autoComplete="email" />

                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      {{ "global.validations.required" | translate : ["register.labels.email"] }}
                    </div>
                    <div *ngIf="!errors['required'] && !errors['maxlengh'] && !errors['minlength']">
                      {{ "global.validations.invalid" | translate : ["register.labels.email"] }}
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-input-group>

              <!-- MOBILE -->
              <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['mobile'] as ctrl">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilPhone"></svg>
                </span>
                <input formControlName="mobile" cFormControl [placeholder]='"register.labels.mobile-holder" | translate'
                  [valid]="ctrl.touched && ctrl.valid && ctrl.value ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  autoComplete="mobile-phone" [maxlength]="validatorValues.mobile.maxLengh" />

                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      {{ "global.validations.required" | translate : ["register.labels.mobile"] }}
                    </div>
                    <div *ngIf="errors['maxlengh'] || errors['minlength']">
                      {{ "global.validations.length" | translate : [
                      "register.labels.mobile",
                      validatorValues.mobile.minLength.toString(),
                      validatorValues.mobile.maxLengh.toString()] }}
                    </div>
                    <div *ngIf="!errors['required'] && !errors['maxlengh'] && !errors['minlength']">
                      {{ "global.validations.invalid" | translate : ["register.labels.mobile"] }}
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-input-group>

              <!-- PASSWORD -->
              <c-input-group class="mb-3 ltr has-validation" *ngIf="form.controls['password'] as ctrl">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilLockLocked"></svg>
                </span>
                <input formControlName="password" cFormControl
                  [placeholder]='"register.labels.password-holder" | translate'
                  [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  type="password" autoComplete="new-password" [maxlength]="validatorValues.password.maxLengh" />

                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      {{ "global.validations.required" | translate : ["register.labels.password"] }}
                    </div>
                    <div *ngIf="errors['maxlengh'] || errors['minlength']">
                      {{ "global.validations.length" | translate : [
                      "register.labels.password",
                      validatorValues.password.minLength.toString(),
                      validatorValues.password.maxLengh.toString()] }}
                    </div>
                    <div *ngIf="errors['pattern']">
                      {{ "register.messages.password-requirement" | translate }}
                    </div>
                    <div *ngIf="!errors['required'] && !errors['maxlengh'] && !errors['minlength']">
                      {{ "global.validations.invalid" | translate : ["register.labels.password"] }}
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-input-group>

              <!-- CONFIRM PASSWORD -->
              <c-input-group class="mb-4 ltr has-validation" *ngIf="form.controls['confirmPassword'] as ctrl">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilLockLocked"></svg>
                </span>
                <input formControlName="confirmPassword" cFormControl type="password"
                  [valid]="ctrl.touched && ctrl.valid ? true : (submitted || ctrl.touched) && ctrl.invalid ? false : undefined"
                  [placeholder]='"register.labels.confirm-password-holder" | translate' autoComplete="new-password" />

                <c-form-feedback class="rtl" *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['passwordMismatch']">
                      {{ "register.messages.password-mismatch" | translate }}
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-input-group>

              <!-- FIRSTNAME -->
              <c-input-group class="mb-3" *ngIf="form.controls['firstname'] as ctrl">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilUser"></svg>
                </span>
                <input formControlName="firstname" cFormControl [placeholder]='"register.labels.first-name" | translate'
                  autoComplete="first-name" />
              </c-input-group>

              <!-- LASTNAME -->
              <c-input-group class="mb-3" *ngIf="form.controls['lastname'] as ctrl">
                <span cInputGroupText>
                  <svg [cIcon]="icons.cilUser"></svg>
                </span>
                <input formControlName="lastname" cFormControl [placeholder]='"register.labels.last-name" | translate'
                  autoComplete="last-name" />
              </c-input-group>

              <!-- BUTTONS -->
              <div class="d-grid">
                <button cButton color="primary" type="submit">
                  {{ "register.labels.create-account" | translate }}
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>