@use "@coreui/coreui/scss/mixins/breakpoints" as *;

@include media-breakpoint-up(sm) {
  .top-panels {
    height: 12rem;
  }
}

.bg-whatsapp {
  background-color: #25d366;
}

.ltr {
  direction: ltr;
}

.float-left {
  float: left;
}

.icon-btn-group > * {
  cursor: pointer;
  margin-right: 1rem;
}
