<c-row class="g-4">
    <c-col lg="6">
        <c-card class="mb-auto whatsapp-panel">
            <c-row class="g-0">
                <c-col [xs]="4" class="overflow-hidden position-relative bg-whatsapp whatsapp-icon"
                    [ngStyle]="{'max-width.rem': 14.5}">
                    <div><svg [cIcon]="icons.cibWhatsapp" class="m-5 text-white" height="100%"></svg></div>
                </c-col>
                <c-card-body cCol [xs]="8">
                    <h5 cCardTitle>{{ "dashboard.support.title" | translate }}</h5>
                    <p cCardText class="ltr">{{ "dashboard.support.phone-number" | translate }}</p>
                    <p cCardText>{{ "dashboard.support.description" | translate }}</p>
                </c-card-body>
            </c-row>
        </c-card>
    </c-col>

    <c-col lg="6">
        <c-widget-stat-c [title]="plan_info ? ('dashboard.balance.title' | translate) : ''"
            [value]="plan_info?.remainsTitle" class="mb-3" [color]="getPlanInfoColor(plan_info?.type)" inverse>
            <ng-template cTemplateId="widgetIconTemplate">
                <span *ngIf="plan_info" class="me-1"
                    cTooltip="{{ 'dashboard.balance.simultaneous' | translate : [plan_info.simultaneousUserCount.toString()] }}">
                    x{{ plan_info.simultaneousUserCount }}
                </span>
                <span [cTooltip]="getPlanInfoTooltip(plan_info?.type)" class="d-inline-block">
                    <svg [cIcon]="getPlanInfoIcon(plan_info?.type)" height="36"></svg>
                </span>
                <c-spinner color="secondary" *ngIf="!plan_info" />
            </ng-template>
            <ng-template cTemplateId="widgetProgressTemplate">
                <div *ngIf="!plan_info" cPlaceholderAnimation="glow">
                    <span cCol="4" cPlaceholder class="me-1"></span>
                    <div class="text-secondary">{{ 'dashboard.balance.title' | translate }}</div>
                </div>
                <c-progress class="mt-3 mb-0" thin white [value]="plan_info?.remainsPercent ?? 0" />
                <button cButton routerLink="/rnewal" color="dark" class="mt-3" *ngIf="plan_info">
                    {{ "dashboard.balance.rnewal" | translate }}
                </button>
            </ng-template>
        </c-widget-stat-c>
    </c-col>

    <c-col lg="6">
        <c-card *ngIf="connections" class="mb-3">
            <c-card-body>
                <div cCardText class="float-end ltr">
                    <small>{{ "dashboard.connections.count" | translate : [connection_count] }}</small>
                </div>
                <h5 cCardTitle>{{ "dashboard.connections.title" | translate }}</h5>
            </c-card-body>
            <ul cListGroup [flush]="true">
                <li cListGroupItem *ngFor="let duration of connections; let index = index">
                    <span class="bullet bg-success me-4">&nbsp;</span>
                    <span>{{ printDuration(duration) }}</span>
                    <a (click)="closeConnection(index)" class="float-end pointer"
                        [cTooltip]="'dashboard.connections.closing' | translate">
                        <svg [cIcon]="icons.cilXCircle" class="text-danger"></svg>
                    </a>
                </li>
            </ul>
        </c-card>
        <c-card *ngIf="!connections" class="mb-3">
            <ul cListGroup [flush]="true" cPlaceholderAnimation="glow">
                <li cListGroupItem>
                    <span cCol="8" cPlaceholder class="me-1"></span>
                </li>
                <li cListGroupItem>
                    <span cCol="8" cPlaceholder class="me-1"></span>
                </li>
            </ul>
        </c-card>
    </c-col>

    <c-col lg="6">
        <c-card *ngIf="current_user" class="mb-3">
            <c-card-body>
                <div cCardText *ngIf="current_user.username" class="float-end ltr">
                    <small>{{ current_user.username }}</small>
                </div>
                <h5 cCardTitle *ngIf="current_user.fullname">{{ current_user.fullname }}</h5>
            </c-card-body>
            <ul cListGroup [flush]="true" class="ltr">
                <li cListGroupItem>{{ current_user.email }}</li>
                <li cListGroupItem class="icon-btn-group">
                    <span *ngIf="showTagetInUserPanel()">
                        {{ Target }}:
                    </span>
                    <a (click)="sendCertificateViaEmail(true)" *ngIf="!sending_cert_email && showTagetInUserPanel()"
                        class="icon-btn pointer" [cTooltip]="'dashboard.account.send-cert-via-email-to' | translate">
                        <svg [cIcon]="icons.cilCursor" class="text-primary" cTextColor="warning"></svg>
                    </a>
                    <a (click)="sendCertificateViaEmail(false)" *ngIf="!sending_cert_email" class="icon-btn pointer"
                        [cTooltip]="'dashboard.account.send-cert-via-email' | translate">
                        <svg [cIcon]="icons.cilEnvelopeClosed" class="text-primary"></svg>
                    </a>
                    <c-spinner color="primary" size="sm" *ngIf="sending_cert_email" />
                    <a routerLink="/change-ovpn-password" class="icon-btn"
                        [cTooltip]="'dashboard.account.change-open-vpn-password' | translate">
                        <svg [cIcon]="icons.cilLockLocked" class="text-primary"></svg>
                    </a>
                </li>
            </ul>
        </c-card>
        <c-card *ngIf="!current_user" class="mb-3 top-panels">
            <c-card-body cPlaceholderAnimation="glow">
                <p cCardText>
                    <span cCol="8" cPlaceholder class="me-1"></span>
                    <span cCol="3" cPlaceholder class="me-1"></span>
                </p>
            </c-card-body>
            <ul cListGroup [flush]="true" class="ltr" cPlaceholderAnimation="glow">
                <li cListGroupItem>
                    <span cCol="8" cPlaceholder class="me-1"></span>
                </li>
                <li cListGroupItem class="icon-btn-group">
                    <a [cTooltip]="'dashboard.account.send-cert-via-email-to' | translate">
                        <svg [cIcon]="icons.cilCursor" class="text-primary"></svg>
                    </a>
                    <a [cTooltip]="'dashboard.account.send-cert-via-email' | translate">
                        <svg [cIcon]="icons.cilEnvelopeClosed" class="text-primary"></svg>
                    </a>
                    <a [cTooltip]="'dashboard.account.change-open-vpn-password' | translate">
                        <svg [cIcon]="icons.cilLockLocked" class="text-primary"></svg>
                    </a>
                </li>
            </ul>
        </c-card>
    </c-col>

    <c-col>
        <app-traffic-chart></app-traffic-chart>
    </c-col>
</c-row>