@use "@coreui/coreui/scss/mixins/breakpoints" as *;

@include media-breakpoint-up(sm) {
  .whatsapp-panel {
    height: 14.625rem;
  }
  .whatsapp-icon {
    height: 14.5rem;
  }
}

.bg-whatsapp {
  background-color: #25d366;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn-group > * {
  margin-right: 1rem;
}

.bullet {
  display: inline-block;
  width: 1.5rem;
  border-radius: 50%;
}
