@use "@coreui/coreui/scss/mixins/breakpoints" as *;

@include media-breakpoint-up(sm) {
  .top-panels {
    height: 12rem;
  }
}

.bg-whatsapp {
  background-color: #25d366;
}

.ltr {
  direction: ltr;
}

.li > a {
  cursor: pointer;
}

.icon-btn-group > * {
  margin-right: 1rem;
}

.bullet {
  display: inline-block;
  width: 1.5rem;
  border-radius: 50%;
}